{% extends "base_cms.html" %}
{% block content %}
    {% if heading %}
        <h1>{{heading}}</h1>
    {% endif%}
    <ul id="story-list">
    {% for story in story_list %}
        <li><a href="{{story.get_absolute_url}}">{{story.title}}</a></li>
    {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if story_list.has_previous %}
                <a href="?page={{ story_list.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ story_list.number }} of {{ story_list.paginator.num_pages }}
            </span>
            {% if story_list.has_next %}
                <a href="?page={{ story_list.next_page_number }}">next</a>
            {% endif %}
        </span>
</div>   
{% endblock %}   