{% extends "base_cms.html" %}
{% block title %}{{story_detail.title}}{% endblock %}
{% block content %}
    <h1>{{story_detail.title}}</h1>
    <h2><a href="{{ story_detail.category.get_absolute_url }}">{{story_detail.category}}</a></h2>
    <div id="story-body">
        {{story_detail.html_content}}
        <p class="small">Updated {{story_detail.modified}}</p>
        <p class="small">Status {{story_detail.get_status_display}}</p>
    </div>
{% endblock %}    